G_REGION="us-west-1"
#G_REGION="eu-central-1"
G_API_ROUTER="${G_REGION}.hyper.sh:443"
G_HYPERCLI="hyper --region tcp://${G_API_ROUTER}"


G_TEST_CONTAINER1="wstest1"
G_TEST_CONTAINER2="wstest2"

G_TEST_IMAGE1="xjimmyshcn/busybox"
G_TEST_IMAGE2="alpine"

